<!DOCTYPE html>
<html>
    <head>
        <title>My Portfolio</title>
        <link rel="stylesheet" href ="{{url_for('static', filename='style.css')}}">
    </head>
    <Body>
        <nav class="navbar">
            <div class="logo">MyPortfolio.</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class = "hero-section">
        <h1>Hi, I'm <span class= "highlight"> Hardik Uniyal</span></h1>
        <p>I am a third-year BCA student and an aspiring developer, driven by a high-performance mindset to build exceptional digital experiences.</p>
        <a href="#" class="btn">View My Work</a>
        </div>
    </Body>
</html>