<!DOCTYPE html>
<html>
    <head>
        <title>My Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href ="{{url_for('static', filename='style.css')}}">
    </head>
    <Body>
        <nav class="navbar">
            <div class="logo">MyPortfolio.</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class = "hero-section">
        <h1>Hi, I'm <span class= "highlight"> Hardik Uniyal</span></h1>
        <p>I am a third-year BCA student and an aspiring developer, driven by a high-performance mindset to build exceptional digital experiences.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/hardik-uniyal-266375313 " target="_blank" class="social-icon" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/HardikUniyal" target="_blank" class="social-icon" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </div>
        <a href="#projects" class="btn">View My Work</a>
        </div>
        <section id= "about" class="about-section">
            <div class = "about-container">
                <h1>About Me</h1>
                <div class="about-text">
                    <p>I am currently a third-year Bachelor of Computer Applications (BCA) student,Deeply passionate about cyber security and software engineering and full-stack development. My academic journey has helped me build a strong foundation in programming logic, algorithms, and database management system(DBMS). </p>
                    <p>I don't just write code; I focus on understanding how things work under the hood. Currently, I am expanding my skill set by learning backend architectures, SQL database design, and version control workflows to build scalable, real-world applications.</p>
                </div>
            </div>
        </section>
        <section class="skills-section">
            <div class="skill-container">
                <h2>My Skills and Technologies</h2>
                <div class="skill-card">python</div>
                <div class="skill-card">HTML5 & CSS3</div>
                <div class="skill-card">SQL / DBMS</div>
                <div class="skill-card">Flask Framework</div>
                <div class="skill-card">Git & GitHub</div>
                <div class="skill-card">C & C++</div>
                <div class="skill-card"> Cybersecurity(XSS) </div>
            </div>
        </section>
        <section id="projects" class="projects-section">
            <div class="projects-container">
                <h2>My Projects</h2>
                <div class="projects-grid">
                    <div class="project-card">
                        <h3>Portfolio Website</h3>
                        <p> A full-stack responsive portfolio built with HTML, CSS, Flask, and SQLite. Features a functional contact form with a backend database.</p>
                        <div class="project-links">
                            <a href="#" target="_blank"><i class="fab fa-github">Code</i></a>
                            <a href="#" target="_blank"><i class="fab fa-external-link-alt">Live</i></a>
                        </div>
                    </div>
                    <div class="projects-grid">
                    <div class="project-card">
                        <h3>Coming soon</h3>
                        <p> Currently working on my next big idea. This space will be updated with a new high-performance web application very soon.</p>
                        <div class="project-links">
                            <a href="#" target="_blank"><i class="fab fa-github">Code</i></a>
                            <a href="#" target="_blank"><i class="fab fa-external-link-alt">Live</i></a>
                        </div>
                    </div>
                    
                </div>

            </div>

            </div>
        </section>
        <section id="education" class="education-section">
            <div class="education" class="education-container">
                <h2>Education</h2>
                <div class="education-card">
                    <h3>Bachelor of Computer Applications (BCA)</h3>
                    <p><strong>Institute Of Technology and Management</strong> | 2024 - 2027</p>
                    <p>Focus: Software Development, Database Management,Web Technologies and Cybersecurity.</p>
                </div>
            </div>
        </section>
        <section id ="contact" class="contact-section">
            <div class="contact-container">
                <h2>Get In Touch</h2>
                <p class="contact-subtext"> Have a project in mind and want to discuss an opportunity?</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/" method="POST" class="contact-form">
                    <div class="input-group">
                        <input type="text" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="input-group">
                        <textarea name = "message" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="btn">Send Message</button>
                </form>
            </div>
        </section>
    </Body>
</html>